<h1>Liste des athlètes <a href="/athletes/new">+</a></h1><br>
    <table class="table">
        <thead>
            <tr>
                <th>Nom</th>
                <th>Prénom</th>
                <th>Genre</th>
                <th>Pays</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            {{#each listeAthletes}}
                <tr>
                    <td>{{firstName}}</td>
                    <td>{{lastName}}</td>
                    <td>{{gender}}</td>
                    <td>{{country}}</td>
                    <td><a class="btn btn-primary" href="/sports/add">Ajout dans un sport</a>
                    <a class="btn btn-primary" href="/athletes/{{id}}/sports">Voir les sports</a></td>
                </tr>
            {{/each}}
        </tbody>
    </table>